@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1600px;
}

@keyframes move-up {
  from {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-moveUp {
  animation: move-up 0.3s ease-out;
}

@keyframes pulse-dot {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
}

.pulse-dot {
  animation: pulse-dot 1s infinite ease-in-out;
}

.brand-container {
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  position: relative;
  gap: 1vw;
}

.brand-flex {
  margin: 0.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  gap: 2vw;
}

.brand-logo {
  width: 16vw;
  height: 6.4vw;
  padding: 1vw;
  background-color: white;
}

.brand-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.3vw;
  color: rgba(27, 38, 50, 0.6);
}

/* Seamless scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-102%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
}

@media screen and (max-width:768px) {
  .brand-flex {
    min-width: 250%;
    margin-right: 4vw;
  }
  
  .brand-logo {
    width: 40vw;
    height: 14vw;
    padding: 1vw;
    background-color: white;
  }
}